{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block title %}Add Shipping Address{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class='card'>
        <br/>       
        <h1 class="mb-4"><b><center>Add Shipping Address</center></b></h1>

        <div class='card-body'>
            <form method="post" class='mt-1'>
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-sm btn-primary">Save Address</button>
                <a href="{% url 'checkout' %}"><button type="button" class="btn btn-sm btn-secondary ">Back</button></a>
            </form>
        </div>

    </div>
</div>
{% endblock %}
