<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <title>{% block title %}Book Store{% endblock %}</title>  
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand text-info" href="{% url 'home' %}">Online Book Store</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
            </li>
            {% comment %} <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li> {% endcomment %}
            {% if genre %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="genreDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Filter By Genre
              </a>
              <div class="dropdown-menu" aria-labelledby="genreDropdown">
                {% for item in genre %}
                <a class="dropdown-item" href="{% url 'filterbygenre' item.genre %}">{{ item.genre }}</a>
                {% endfor %}
              </div>
            </li>
          {% endif %}
          </ul>
        
            <form class="d-flex" method=POST action="{% url 'search' %}">
              {% csrf_token %}
              <input class="form-control me-2" type="search" name="searched" placeholder="Search Books" aria-label="Search"> 
              {% comment %} {{ search_form }} {% endcomment %}
              <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
  </div>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'viewcart' %}">
              <i class="fas fa-shopping-cart"></i></a>
          </li>
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            My Account
          </a>
          <div class="dropdown-menu" aria-labelledby="navDropdown">
            
            <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
            <a class="dropdown-item" href="{% url 'password_reset' %}">Reset Password</a>
            
          </div>
        </li>

        {% else %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            My Account
          </a>
          <div class="dropdown-menu" aria-labelledby="navDropdown">
            
            <a class="dropdown-item" href="{% url 'login' %}"><button class="btn btn-outline-primary" type="submit">Login</button><br/></a>
            <a class="dropdown-item" href="{% url 'register' %}">Register Here!</a>
            
          </div>
        </li>
        {% endif %}
    </ul>
</div>

  </nav>
  
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>

<br/><br/>
<footer class="p-3 mb-2 bg-info text-white ">
  {% comment %} py-4 {% endcomment %}
  <div class="container-fluid text-center text-md-left">

    <div class="row">

      <div class="col-md-6 mt-md-0 mt-3">

        <h5 class="text-uppercase font-weight-bold">"John Green"</h5>
        <p>Sometimes, you read a book and it fills you with this weird evangelical zeal,
          and you become convinced that the shattered world will never be put back together unless
          and until all living humans read the book!</p>

      </div>
      <hr class="clearfix w-100 d-md-none pb-3">

      <div class="col-md-6 mb-md-0 mb-3">

        <h5 class="text-uppercase font-weight-bold">"Carl Sagan"</h5>
        <p>A book is made from a tree. It is an assemblage of flat, flexible parts (still called "leaves") imprinted with dark pigmented squiggles.
          One glance at it and you hear the voice of another person, perhaps someone dead for thousands of years. Across the millennia, the author is speaking,
          clearly and silently, inside your head, directly to you. Writing is perhaps the greatest of human inventions, binding together people, citizens of distant epochs, who never knew one another.
          Books break the shackles of time--proof that humans can work magic!</p>

      </div>
  

    </div>

  </div>

  <div class="footer-copyright text-center py-3">© 2023 Copyright:
    <a href="home">Online Book Store</a>
  </div>

</footer>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>

</body>
</html>