{% extends "base.html" %}

{% block content %}
<center>
<div class = 'container'>
    <div class="col-md-4 mb-4">
        <div class="card" style="width: 19rem;">
            <h2>{{ book.title }}</h2>
            <small>By: {{ book.author}} </small><br/>
            <hr>
            <br/>
            {{ book.image }}


            <p class="card-text">Genre: {{ book.genre }}</p>
            <p class="card-text">Price: &#8377; {{ book.price }}</p>
            <p class="card-text">Available_quantity: {{ book.available_quantity }}</p>
            <div class="col">
            <a href="{% url 'home' %}"><button type="button" class="btn btn-sm btn-secondary">Back</button></a>
            <a class="btn btn-sm btn-info" href="{% url 'addtocart' book.id %}">Add to Cart</a>


            <!-- <form method="post" action="{% url 'addtocart' book.id %}">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-sm btn-info">Add to Cart</button>
                {% if form.errors %}
                <div class="alert alert-danger mt-3">
                    {{ form.errors.quantity }}
                </div>
                {% endif %}
            </form> -->
            
        </div>
    </div>
    

</div>

<center>
{% endblock %}

