{% extends "base.html" %}

{% block title %}Book View{% endblock %}

{% block content %}
{% load crispy_forms_tags %}

{% load static %}
<br/><br/>

<div class="container">
    <div class="row">
        
        <div class="col-md-4">
            <img src="{% static 'images/book.jpg' %}" class="img-fluid" alt="{{ book.title }}">
        </div>
        
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title"><b>{{ book.title }}</b></h2>
                    <div class="d-flex justify-content-between">
                        <p class="card-text text-lg mb-0">By: {{ book.author }}</p>
                        <p class="card-text text-lg mb-0"><b>Price: &#8377; {{ book.price }}</b></p>
                    </div>
                    <hr class="mt-2">

                    <p class="card-text">Genre: {{ book.genre }}</p>
                    <!-- <p class="card-text">Price: &#8377; {{ book.price }}</p> -->
                    {% if book.available_quantity < 0 %}
                        <span class="btn btn-sm btn-danger text-white">Out of Stock</span>
                    {% else %}
                        <p class="card-text text-danger">Available Quantity: {{ book.available_quantity }}</p>                     
                        <p class="card-text">Average Rating:
                            {% if book.avg_rating %}
                                {% with book.avg_rating|floatformat:"1" as avg_rating %}
                                    {% for i in avg_rating %}
                                        &#9733;
                                    {% endfor %}
                                {% endwith %}
                                ({{ book.avg_rating|floatformat:"1" }})
                            {% else %}
                                Not Rated
                            {% endif %}
                        </p>

                        
                         

                        {% if user.is_authenticated %}
                                {% comment %} {% if book.avg_rating %}
                                    <p>Rating: {{ book.avg_rating }}</p>
                                {% else %}   {% endcomment %}
                            
                                <form method="post" action="{% url 'rate_book' book.slug %}">
                                    {% csrf_token %}
                                    <label for="rating">Rate this book:</label>
                                    <div class="form-group">                                       
                                
                                        <select class="form-control" id="rating" name="rating">
                                            <option value="5">5 (Excellent)</option>
                                            <option value="4">4 (Good)</option>
                                            <option value="3">3 (Average)</option>
                                            <option value="2">2 (Poor)</option>
                                            <option value="1">1 (Terrible)</option>
                                        </select>
                                    </div>
                                    <button type="submit" class="btn btn-sm btn-primary">Submit Rating</button>
                                </form>
                                {% comment %} {% endif %} {% endcomment %}
                        {% else %}
                            <div class="text-dark"> 
                                Log in to rate this book. Your feedback matters!
                                <a href="{% url 'login' %}" class="btn btn-sm btn-primary">Log In</a>
                            </div>

                        {% endif %}
                        

                        <br/>
                        <form method="post" action="{% url 'addtocart' book.slug %}">
                            {% csrf_token %}
                            {{ cart_form|crispy }}
                            <div class="d-flex justify-content-between">
                                <a href="{% url 'home' %}" class="btn btn-sm btn-secondary">Back</a>  
                                <div>
                                <a class="btn btn-sm btn-success" href="{% url 'checkout'  %}">Buy</a>  
                                <button type="submit" class="btn btn-sm btn-info">Add to Cart</button>
                                </div>
                            </div>  
                        </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>  
</div>

{% endblock %}


