{% extends "base.html" %}

{% block title %}Book View{% endblock %}

{% block content %}
{% load crispy_forms_tags %}

{% load static %}
<br/><br/>
<center>
<div class = 'container'>
    <div class="col-md-4 mb-4">
        <div class="card" style="width: 25rem;">
            <h2>{{ book.title }}</h2>
            By: {{ book.author}}<br/>
            <hr>
            <br/>
            <div class="col">
                <form method="post" action="{% url 'addtocart' book.id %}">
                {% csrf_token %}
            
                   <div class="form-group">
                    <img class="card-img-top" src="{% static 'images/book.jpg' %}" class="card-img-top" alt="{{ book.title }}"/>
                    <p class="card-text">Genre: {{ book.genre }}</p>
                    <p class="card-text">Price: &#8377; {{ book.price }}</p>
                    {% if book.available_quantity < 0 %}
                        <span class="btn btn-sm btn-danger text-white">Out of Stock</span>
                    {% else %}
                        <p class="card-text">Available Quantity: {{ book.available_quantity }}</p>
                    {% endif %}
                     
                    <!-- <label for="quantity"> Add Quantity:</label>
                    <input type="number" class="form-control" id="quantity" name="quantity" min="1" max="{{ book.available_quantity }}" value="{{ cart_item.quantity }}"> -->
                    
                    <a href="{% url 'home' %}"><button type="button" class="btn btn-sm btn-secondary">Back</button></a>
                    <form method="post" action="{% url 'addtocart' book.id %}">
                        {% csrf_token %}
                        {{ cart_form|crispy }}
                        <a class="btn btn-sm btn-info" href="{% url 'addtocart' book.id %}">Add to Cart</a>
                    </form>
                    
                </div>
                </form>             
            </div>
        </div>

    </div>
</div>

<center>
{% endblock %}

