{% extends "base.html" %}

{% block title %}Checkout{% endblock %}

{% block content %}

<div class="container mt-5">
    
    <h1 class="text-info mb-4"><b><center>Order Summary</center></b></h1>
    
    <!-- Cart Items Table -->
    <table class="table">
        <thead>
            <tr>
                <th>Book Title</th> 
                <th>Quantity</th>
                <th>Book Price</th>
            </tr>
        </thead>
        <tbody>
            {% for item in cart_items %}
                <tr>
                    <td>{{ item.book.title }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>&#8377; {{ item.total_price }}</td>
                </tr>
            {% endfor %}
        </tbody>
     
    </table>
        <p type="button" class="btn btn-sm btn-success float-right">Payable Amount:&#8377; {{ cart_total }}</p>
            <br/><br/>
        
        <!-- Shipping Address Form -->  
        <div class="card-header h3">
            <h3><b>Shipping Address</b></h3>
            <a href="{% url 'add_address' %}" class="btn  btn-sm btn-primary">Add Address</a>
        </div>
    
        <div class="card-body">
            <form method="POST" class="shipping-address-form">
                {% csrf_token %}
                <h5>Default Shipping Address:</h5>
                <i><strong class="text-success">{{ shipping_address.street }}
                    {{ shipping_address.city }},
                    {{ shipping_address.state }},
                    {{ shipping_address.postal_code }}
                </strong></i><br><br>
                <h5>Other Shipping Addresses:</h5>
                {% if other_addresses %}
                    <ul class="list-group">
                        {% for address in other_addresses %}
                        <li class="list-group-item">
                            {{ address.street }},
                            {{ address.city }},
                            {{ address.state }},
                            {{ address.postal_code }}
                            {% if address.is_default %}
                            (Default)
                            {% else %}
                            <a href="{% url 'set_default_address' address.id %}" class="btn btn-link btn-sm text-success">Set as Default</a>
                            {% endif %}
                        </li>
                        {% endfor %}
                    </ul>
                    {% else %}
                    <p>No other addresses available!</p>
                    {% endif %}
                </select>
            </form>
            
        </div>   
        
        <form method="POST" action="#">
            {% csrf_token %}
            <button type="submit" class="btn btn-sm btn-success float-right">Proceed to Payment</button>
        </form>

        {% comment %} <button type="submit" class="btn btn-sm btn-success float-right ml-1">Place Order</button>         {% endcomment %}
        <a href="{% url 'viewcart' %}"><button type="button" class="btn btn-sm btn-secondary float-right">Back</button></a>
           
</div>
{% endblock %}
