{% extends 'base.html' %}

{% block title %}Filter By Genre{% endblock %}

{% block content %}

{% load static %}
{% if book_category %}


<div class="container mt-4">
    <div class="row">
        <!-- Product Cards -->
        {% for book in book_category %}
        <div class="col-md-4 mb-4">
            <div class="card product-card" style="width: 19rem;">
                <img class="card-img-top" src="{% static 'images/book.jpg' %}" class="card-img-top" alt="{{ book.title }}"/>
                <div class="card-body">
                    <a href="{% url 'bookview' book.id %}"class="text-dark" >
                    <h5 class="card-title">{{ book.title }}</h5></a>
                    <p class="card-text">{{ book.genre}}</p>
                    <p class="card-text">Author: {{ book.author }}</p>
                    <p class="card-text">Price: &#8377; {{ book.price }}</p>
                    <!-- <p class="card-text">Average Rating: {% if book.average_rating %}{{ book.average_rating|floatformat:'0' }} &#9733; out of 5 &#9733;{% else %}Not rated{% endif %}</p>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                    <a href="#" class="btn btn-warning">Buy</a> -->
                    {% if book.available_quantity > 0 %}
                        <span class="p-2 mb-2 bg-success text-white">In Stock</span>
                    {% else %}
                        <span class="p-2 mb-2 bg-danger text-white">Out of Stock</span>
                    {% endif %}
                    
                </div>
            </div>
        </div>

        {% endfor %}
        <a href="{% url 'home' %}"><button type="button" class="btn btn-sm btn-secondary">Back</button></a>
    </div>
</div>

<!-- Pagination Controls -->    
{% if is_paginated %}
<div class="container mt-4">
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
        
            <li class="page-item">
                <a class="page-link" href="?page=1">&laquo; First</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
            </li>
        {% endif %}

        <li class="page-item active">
            <span class="page-link">{{ page_obj.number }}</span>
        </li>

        {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
            </li>
        {% endif %}
    </ul>
</div>
{% endif %}
{% else %}
    <div class="my-4">
        <strong class="text-danger my-4"><H3>Sorry no books available. </H3></strong>
    </div>
{% endif %}

{% endblock %}
