
{% extends "base.html" %}

{% block title %}Home{% endblock %}



{% block content %}
{% load static %}


<br/>
<div class="text-center">
    <div class="container">
    <h1 style="font-size: 36px; color: #333;"><b>Bringing Books to Your Fingertips</b></h1>
</div><br/>
</div>

    <div class = 'container'>
        <div class="row">
            {% for book in page_obj %}
                <div class="col-md-4 mb-4">
                    <div class="card" style="width: 19rem;">
                        <img class="card-img-top" src="{% static 'images/book.jpg' %}" class="card-img-top" alt="{{ book.title }}"/>
                        <div class="card-body">
                            <a href="{% url 'bookview' book.pk %}" class="text-dark">
                            <h5 class="card-title">{{ book.title }}</h5></a>
                            <p class="card-text">Author: {{ book.author }}</p>
                            <p class="card-text">Price: &#8377; {{ book.price }}</p>
                            <a href="{% url 'bookview' book.pk %}" class="text-dark">  
                                <button type="button" class="btn btn-sm btn-outline-info">Book Details</button></a>
                            {% if book.available_quantity > 0 %}
                            <span  class="btn btn-sm btn-success text-white">In Stock</span>
                            {% else %}
                                <span class="btn btn-sm btn-danger text-white">Out of Stock</span>
                            {% endif %}
                            
                        </div>

                    </div>
                </div>
            {% endfor %}
        </div>
    </div>


    <div class="container mt-4">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            
                <li class="page-item">
                    <a class="page-link text-dark" href="?page=1">&laquo; First</a>
                </li>
                <li class="page-item">
                    <a class="page-link text-dark" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                </li>
            {% endif %}

            <li class="page-item active">
                <span class="page-link text-dark">{{ page_obj.number }}</span>
            </li>

            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link text-dark" href="?page={{ page_obj.next_page_number }}">Next</a>
                </li>
                <li class="page-item">
                    <a class="page-link text-dark" href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
                </li>
            {% endif %}
        </ul>
    </div>
    
       

{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'cart/static/css/styles.css' %}">
{% endblock %}

