{% extends "base.html" %}

{% block content %}
<br/>
<h2>Welcome to Online Bookstore</h2>
<br/>
<ul>
    {% for book in books %}
        <li>
            <img src="{{ book.images.url }}" alt="{{ book.title }}"/>
            <a href="{% url 'bookview' book.pk %}">  
                <h2>{{ book.title }}</h2></a>
                <p>Author: {{ book.author }}</p>
                <p>Genre: {{ book.genre }}</p>
                <p>Price: Rs.{{ book.price }}</p>
                {% comment %} <p>Available Quantity: {{ book.available_quantity }}</p> {% endcomment %}
        </li>
        {% endfor %}
    </ul>


{% endblock %}


