{% extends 'base.html' %}

{% block title %}Log In{% endblock %}
{% load static %}

{% block content %}
{% load crispy_forms_tags %} 

{% if user.is_authenticated %}
<strong><p class="text-bold text-success text-center mt-5">Welcome, {{ user.username }} !</p></strong>
{% else %}


 <div class="container py-5">
    <div class="card">
        <div class="card-header">
            <h2 class="text-center text-primary"><b>Login</b></h2>
        </div>
        <div class="card-body">
            <form method="Post">
                {% csrf_token %}
                <div class="form-row justify-content-center">
                    <div class="col-6">
                        {{ login_form.username|as_crispy_field }}   
                    </div>
                </div>
                <div class="form-row justify-content-center">
                    <div class="col-6">
                        {{ login_form.password|as_crispy_field }}
                    </div>
                </div>
                <div class="form-row justify-content-center">
                    <div class="col-6">
                        
                        <div class="form-check">
                            <div class="d-flex justify-content-between">
                                <input class="form-check-input" type="checkbox" name="remember_me" id="remember_me">
                                <label class="form-check-label" for="remember_me">
                                    Remember Me
                                </label>
                                <p><a class="text-center" href="{% url 'password_reset' %}">Forget Your Password?</a></p>
                            </div>
                        </div>
                    </div>
                </div><br/>
                <div class="text-center">
                    <button class="btn px-4 btn-primary" type="submit">Login</button><br/>
                    <br/>
                    <p class="text-center">New to BookStore?<a href="/register">Sign Up</a></p>
                </div>
                <br/>               
                {% if form.errors %}
                    <p class="text-center"><b>Invalid Username or Password!</b> <span class="text-danger">Please try again.</span></p>
                {% endif %}
            </form>
        </div>
    </div>
        
</div>
{% endif %}
{% endblock content %}

