
{% extends "base.html" %}

{% load static %}

{% block content %}
    
        {% if searched %}
            <h1><center>You searched for {{searched}}</center> </h1>
            <br/>
            <div class = 'container'>
                <div class="row">
                    {% for book in books %}
                    <div class="col-md-4 mb-4">
                        <div class="card" style="width: 19rem;">
                            <img class="card-img-top" src="{% static 'images/book.jpg' %}" class="card-img-top" alt="{{ book.title }}"/>
                            <div class="card-body">
                                <a href="{% url 'bookview' book.slug %}" class="text-dark">
                                <h5 class="card-title">{{ book.title }}</h5></a>
                                <p class="card-text">Author: {{ book.author }}</p>
                                <p class="card-text">Price: &#8377; {{ book.price }}</p>
                                <div class="d-flex justify-content-between">
                                    <a href="{% url 'bookview' book.slug %}" class="text-dark">  
                                        <button type="button" class="btn btn-sm btn-outline-info">Book Details</button></a>
                                    {% if book.available_quantity > 0 %}
                                        <span  class="btn btn-sm btn-success text-white">In Stock</span>
                                    {% else %}
                                            <span class="btn btn-sm btn-danger text-white">Out of Stock</span>
                                    {% endif %}
                                </div>
                                    <!-- <a href="#" class="btn btn-primary">Add to Cart</a> -->
                            </div>
                        </div>
                    </div>

                    {% endfor %}
                </div>
            </div>  
                {% else %}
                    <h1>Forget to Search!</h1>
                {% endif %}
                <a href="{% url 'home' %}"><button type="button" class="btn btn-sm btn-secondary">Back</button></a>


{% endblock %}
