{% extends "base.html" %}

{% block title %}View Cart{% endblock %}

{% block content %}
{% load static %}
<style>
    
    .table {
        border-collapse: separate;
        border-spacing: 0 15px; 
    }

    .table th, .table td {
        border: 1px solid #dddddd; /* Add borders for a clean look */
        padding: 8px; /* Add padding for spacing within cells */
    }
</style>

<center><br/>
<h1>Your Shopping Cart</h1>
<div class="container"></div>

    <table class="table">
        <thead>
            <tr>
                <th>Book</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Total</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
           
            {% for cart_item in cart_items %}
                <tr>
                    <td>{{ cart_item.book.title }}</td>
                    
                    <td>
                        <form method="post" action="{% url 'update_cart' cart_item.id %}">
                            {% csrf_token %}
                            <input type="number" class="form-control" id="quantity" name="quantity" min="1" max="{{ book.available_quantity }}" value="{{ cart_item.quantity }}">
                            <button type="submit" class="btn btn-sm btn-info" >Update</button>
                        </form>
                    </td>
                    <td>{{ cart_item.book.price }}</td>
                    <td>{{ cart_item.total_price }}</td>
                    <td><a class="btn btn-sm btn-warning" href="{% url 'remove_from_cart' cart_item.id %}">Remove</a></td>
                </tr>
            {% endfor %}
            </div>
        
        </tbody>
    </table>

    <p>Total: {{ cart_total }}</p>
<a href="{% url 'home'  %}"><button type="button" class="btn btn-sm btn-secondary">Back</button></a>
<a class="btn btn-sm btn-info" href="{% url 'checkout'  %}">Proceed to Checkout</a>

</div>
</center>
{% endblock %}
